<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" th:href="@{/static/css/login.css}" href="/static/css/login.css" type="text/css"></link>
<title>MODOO For Developers</title>
</head>
<body>
	<div class="logoBox">
		<div class="logoForm">
			Management<br/>
			<span>Of Data</span><br/>
			Our Ours
		</div>
	</div>
	<div class="inputBox">
		<div class="inputFormBox">
			<ul class="inputNav">
				<li id="signinLi" onClick="onChangeInputType(this,'signin')">Sign-In</li>
				<li id="signupLi" onClick="onChangeInputType(this,'signup')">Sign-Up</li>
			</ul>
			<form class="inputForm" id="signinForm" 
					method="post" action="signin.do">
				<label>ID</label>
				<input type="text" name="id" placeholder="ID"/>
				<label>PASSWORD</label>
				<input type="password" name="password" placeholder="PASSWORD"/>
				<button type="submit">Sign In</button>
			</form>
		</div>
	</div>
</body>
</html>