<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" th:href="@{/static/css/sign.css}" href="/static/css/login.css" type="text/css"></link>
<title>MODOO For Developers</title>
</head>
<body>
	<div class="logoBox">
		<div class="logoForm">
			MODOO For Developers
		</div>
	</div>
	<div class="inputBox">
		<div class="inputFormBox">
			<ul class="inputNav">
				<li class="unactive" id="signinLi" onClick="location.href='/user/signin'">로그인</li>
				<li class="active" onClick="location.href='/user/signup'">회원가입</li>
			</ul>
			<form class="inputForm" id="signinForm" 
					method="post" th:action="@{/user/signup/do}">
				<label>아이디</label>
				<input type="text" name="id" placeholder=""/>
				<label>비밀번호</label>
				<input type="password" name="password" placeholder=""/>
				<button type="submit">가입</button>
			</form>
		</div>
	</div>
</body>
</html>