@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
	height: 100%;
	display: flex;
}

body {
	width: 100%;
	margin: 0;
	display: flex;
	flex-flow: column;
	background: black;
	animation: fadeIn 1.5s;
}

/* account class style */
.logoBox {
	flex: 2;
	background: black;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.inputBox {
	flex: 6;
	display: flex;
	justify-content: center;
}

.logoForm {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 3rem;
	color: white;
	text-align: right;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	border-radius: 1rem;
	box-shadow: 1rem .5rem .5rem gray;
	animation: logoDance 1s infinite alternate;
}

.logoForm span {
	margin-right: 30%;
}

.logoForm:hover {
	transform: translateY(-7px);
	transition: .3s;
}

.inputFormBox {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 5rem;
}

.inputNav {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.inputNav li {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
	z-index: 2;
	cursor: pointer;
	flex: 1;
	text-align: center;
	background: black;
	color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	padding: 10px;
	transition: 0.5s ease-in;
	box-shadow: .5rem .25rem .25rem gray;	
}

.inputNav li.active{
	transform: translateY(-5px);
	transition: "1s";
}

.inputNav li.unactive{
	transform: translateY(5px);
	transition: "1s";
}

.inputNav li:hover {
	background: white;
	color: black;
}

.inputForm {
	z-index: 1;
	display: flex;
    flex-direction: column;
    border-right : solid black;
    border-left : solid black;
    border-bottom : solid black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem;
    margin-top: 0px;
    box-shadow: .5rem .25rem .25rem 0 gray;
    transition: 1.5s ease-in;
}

.inputForm label {
	color: black;
    margin-bottom: 3px;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
}

.inputForm input {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 1.5rem;
	border: 1px solid black;
    border-radius: .5rem;
    margin-bottom: 10px;
    padding: 1rem;
    outline: none;
    transition: .7s ease-in;
}

.inputForm input:focus {
	border-color: white;
	background: black;
	color: white;
}

.inputForm button {
	background: black;
    color: white;
    margin-top: 10px;        
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s ease-in;	
    border-radius: 1rem;
    outline: none;
    font-family: 'Do Hyeon', sans-serif;
}

.inputForm button:hover {
	color: black;
	background: white;
}


/* animation keyframe */
@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes aniLogoBox {
	from {
		margin-right: 15rem;
	}
	to {
		margin-right: 0;
	}
}

@keyframes logoDance{
   from{
		transform: translateY(.5rem);
   }
   to{
		transform: translateY(-.5rem);
   }
}  