<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.wrk.mfd.entity.User" alias="user"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.ModooUser" alias="muser"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.ModooInfo" alias="minfo"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.ModooData" alias="mdata"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.ModooFrame" alias="mframe"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.ModooFHI" alias="mfhi"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.Key" alias="key"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.RequestVO" alias="req"></typeAlias>
		<typeAlias type="com.wrk.mfd.entity.LogVO" alias="log"></typeAlias>
	</typeAliases>
</configuration>