<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" th:href="@{/static/css/modooAuth.css}" type="text/css"></link>
<title>MODOO For Developers</title>
</head>
<script>
	alert("MODOO 서비스 인증 후 이용해주세요!");
</script>
<body>
	<form class="inputForm" id="signinForm" 
			method="post" th:action="@{/auth/modooAuth}">
		<div class="formHeader">
			MODOO 계정을 입력해주세요!
		</div>
		<label>ID</label>
		<input type="text" name="id" placeholder="ID"/>
		<label>PASSWORD</label>
		<input type="password" name="password" placeholder="PASSWORD"/>
		<button type="submit">Auth In</button>
		<button type="button" onclick="location.href='/user/signout'">Sign Out</button>
	</form>
</body>
</html>